<app-rsturant-dash></app-rsturant-dash>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><br><br>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
<h1 style="color:brown">Home</h1>
        </div>
        <div class="col-sm-2">
           <a routerLink="/signup" ><h1 style="color:brown">Signup</h1></a>
        </div>
        <div class="col-sm-2">
<h1 style="color:brown">Punjabi Resturant</h1>
        </div>
        <div class="col-sm-2">
            <a routerLink="login" ><h1 style="color:brown">log</h1></a>
        </div>
        <div class="col-sm-2">
            <a routerLink="/login" ><h1 style="color:brown">login</h1></a>
         </div>
        <div class="col-sm-2">
          <h1>Service</h1> 
        </div>
    </div>
    <div class="ak">
      <a routerLink="/list" ><h1 style="color:brown">list</h1></a>
   </div>
  </div>



  <router-outlet></router-outlet>
   
    
    
</body>
</html>