
.card{
    margin-top: 15px;
    border: 1px solid blue;
    width: 550px;
    padding: 45px;
    position:absolute;
    top:10%;
    left:34%;
    background-color: brown;

}
.form-label{
    color:white;
    font-size: large;
}
h5,h1{
color:yellow
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;   /* Height of the footer */
  background-color: tomato;
  }
  h2{
    position: relative;
    left: 38%;
}
.dewedi{
    background-color:lightblue;
    width: 100%;
    height: 150vh;
}
  